weight2/
weight/
spconv_weight/
check/
sample/
dataset/
dataset2/
loss_log.txt
train_log.txt
train_log_spconv.txt
train_log2.txt
model_epoch_best_129.pth
train_/
valid_/
*.ply
*.profile
logs/
_pycache_/
train_log/
